@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    height: 100dvh;
    width: 100dvw;
    margin: 0px;
}


#root{
    height: 100%;
    width: 100%;
}


.tooltip{
    animation: tooltipAnimation 300ms forwards;
}

@keyframes tooltipAnimation{
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(1)
    }
}


